.To-Do-Item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.To-Do-Item-Text {
    width: 90%;
    background-color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    padding: 12px;
    margin-right: 10px;
    border-radius:10px;
}

.To-Do-Item-Delete {
    width: 35px;
    /*padding: 5px;*/
    height: 35px;
    cursor: pointer;
    background: red;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    margin-right: 5px;
}

.ToDoItem-Delete:hover {
    box-shadow: none;
    margin-top: 1px;
    margin-left: 1px;
}