body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(180deg, purple, white);
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo {
  width: 50px;
  position: relative;
  top: 50px;
}

.ToDo {
  text-align: center;
  border: 1px solid white;
  width: 80vw;
  height: auto;
  background: #fdfdfd;
  padding-bottom: 60px;
  margin: 40px auto;
  border-radius: 10px;
}

.To-Do-Header {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 70px auto 0px;
}

.Subheader {
  font-size: 1em;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 4px auto 20px;
}

.To-Do-Add {
  color: white;
  font-size: 2em;
  width: 40px;
  height: 40px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: green;
  border-radius: 10px;
  margin: 20px auto 0;
}

.To-Do-Add:hover {
  box-shadow: none;
  
}

.Container {
  width: 80%;
  margin: 0 auto;
}

input {
  width: 60%;
  padding: 10px;
  font-size: 1em;
  margin: 10px auto;
  box-shadow: 1px 3px 20px 0px black(0, 0, 0, 0.3);
  margin-right: 25px;
  border-radius: 10px;
}